@model LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>管理员登录 | NextCMS Admin</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">

    <link href="~/Administration/Content/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Administration/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Administration/Content/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />

    <link href="~/Administration/Content/assets/css/style-metronic.css" rel="stylesheet" type="text/css" />
    <link href="~/Administration/Content/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Administration/Content/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Administration/Content/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Administration/Content/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Administration/Content/assets/css/pages/login.css" rel="stylesheet" type="text/css" />
    <link href="~/Administration/Content/assets/css/custom.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body class="login">

    <div class="logo">
        <img src="~/Administration/Content/assets/img/logo-big.png" alt="" />
    </div>

    <div class="content">

        <!-- 登录 -->
        @using (Html.BeginForm("Login", "", FormMethod.Post, new { @class = "login-form" }))
        {
            <h3 class="form-title">登录您的帐户</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>
                    @Html.ValidationSummary(true)
                </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">用户名或邮箱地址</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    @Html.TextBoxFor(t => t.UserNameOrEmail, new { @class = "form-control placeholder-no-fix", autocomplete = "off", placeholder = "用户名或邮箱地址" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">密码</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    @Html.PasswordFor(t => t.Password, new { @class = "form-control placeholder-no-fix", autocomplete = "off", placeholder = "密码" })
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    @Html.CheckBoxFor(t => t.RememberMe) 记住我
                </label>
                <button type="submit" class="btn green pull-right">
                    登录 <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
            <div class="forget-password">
                <h4>忘记密码？</h4>
                <p>
                    请点击<a href="javascript:;" id="forget-password">这里</a>
                    来重置你的密码
                </p>
            </div>
        }

        <!-- 找回密码 -->
        @using (Html.BeginForm("SendRestPwdEmail", "", FormMethod.Post, new { @class = "forget-form" }))
        {
            <h3>忘记密码？</h3>
            <p>
                请在下面输入您的电子邮件地址来重设密码
            </p>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    @Html.TextBoxFor(t => t.Email, new { @class = "form-control placeholder-no-fix", autocomplete = "off", placeholder = "邮箱地址" })
                </div>
            </div>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>
                    @Html.ValidationSummary(true)
                </span>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn">
                    <i class="m-icon-swapleft"></i> 返回
                </button>
                <button type="submit" class="btn green pull-right">
                    确定 <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
        }


    </div>

    <div class="copyright">
        2014 &copy; NextCMS by Terry Chen.
    </div>

    <!--[if lt IE 9]>
        <script src="~/Administration/Content/assets/plugins/respond.min.js"></script>
        <script src="~/Administration/Content/assets/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/Administration/Content/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Administration/Content/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="~/Administration/Content/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Administration/Content/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Administration/Content/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Administration/Content/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Administration/Content/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/Administration/Content/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>

    <script src="~/Administration/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Administration/Content/assets/scripts/app.js" type="text/javascript"></script>
    <script src="~/Administration/Content/assets/scripts/login.js" type="text/javascript"></script>

    <script>
        jQuery(document).ready(function () {
            App.init();
            Login.init();
        });
    </script>

</body>
</html>