@model CategoryModel

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="tabbable tabbable-custom tabbable-full-width">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab_1" data-toggle="tab">基本信息</a>
        </li>
        <li>
            <a href="#tab_2" data-toggle="tab">搜索引擎优化</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-2">分类名称</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(t => t.Name)
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">父分类</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.ParentId, Model.AvailableCategories, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">排序</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(t => t.DisplayOrder, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">描述</label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(t => t.Description, new { @class = "form-control", @rows = 5 })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">封面图</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PictureId, "Picture")
                    </div>
                </div>
                @*@Html.EditorFor(model => model.PictureId)*@
                <div class="form-group">
                    <label class="control-label col-md-2">在首页中显示</label>
                    <div class="col-md-4">
                        <div class="checkbox-list">
                            <label class="checkbox-inline">
                                @*<div class="checker" id="uniform-inlineCheckbox21">
                        <span class="">*@
                                @Html.CheckBoxFor(t => t.ShowOnHomePage)
                                @*</span>
                        </div>*@
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">在菜单中显示</label>
                    <div class="col-md-4">
                        <div class="checkbox-list">
                            <label class="checkbox-inline">
                                @*<div class="checker" id="uniform-inlineCheckbox21">
                        <span class="">*@
                                @Html.CheckBoxFor(t => t.IncludeInTopMenu)
                                @*</span>
                        </div>*@
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">已发布</label>
                    <div class="col-md-4">
                        <div class="checkbox-list">
                            <label class="checkbox-inline">
                                @*<div class="checker" id="uniform-inlineCheckbox21">
                                <span class="">*@
                                    @Html.CheckBoxFor(t => t.Published)
                                @*</span>
                                </div>*@
                            </label>
                        </div>
                    </div>
                </div>
                @if (Model.Id > 0)
                {
                    <div class="form-group">
                        <label class="control-label col-md-2">创建日期</label>
                        <div class="col-md-4">
                            <p class="form-control-static">@Model.CreatedOnDate</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">最后更新日期</label>
                        <div class="col-md-4">
                            <p class="form-control-static">@Model.UpdatedOnDate</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="tab-pane" id="tab_2">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-2">Meta 标题</label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(t => t.MetaTitle, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Meta 关键字</label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(t => t.MetaKeywords, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Meta 描述</label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(t => t.MetaDescription, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


