@{
    ViewBag.Title = "权限管理 | NextCMS Admin";
}

<div class="fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="table-toolbar">
                <div class="btn-group">
                    <a href="@Url.Action("Create")" class="btn blue"><i class="fa fa-plus"></i> 添加</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table datatable table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="80">
                    序号
                </th>
                <th width="80">
                    图标
                </th>
                <th width="80">
                    权限名称
                </th>
                <th>
                    权限树
                </th>
                <th>
                    链接地址
                </th>
                <th width="100">
                    排序
                </th>
                <th width="100">
                    已启用
                </th>
                <th width="200">
                    操作
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@Html.WriteScriptBlock(@<script type="text/javascript">
    $(function () {
        var actionUrl = "@Url.Action("InitDataTable")?rand=" + Math.random();
        var aoColumns = [
                { "sName": "sort" },
                { "sName": "icon" },
                { "sName": "name" },
                { "sName": "breadcrumb" },
                { "sName": "linkurl" },
                { "sName": "displayorder" },
                {
                    "sName": "active",
                    //"fnRender": function (oObj) {
                    //    var render;
                    //    if (oObj.aData[oObj.aData.length - 3] == "True") {
                    //        render = '<i class="fa fa-check "></i>';
                    //    } else {
                    //        render = '<i class="fa fa-lock"></i>';
                    //    }
                    //    return render;
                    //}
                },
                {
                    "sName": "action",
                    "fnRender": function (oObj) {
                        var editUrl = '@Url.Action("Edit")/' + oObj.aData[oObj.aData.length - 1];
                        var deleteUrl = '@Url.Action("Delete")/' + oObj.aData[oObj.aData.length - 1];
                        return TableManaged.btnEdit(editUrl) + ' ' + TableManaged.btnDelete(deleteUrl);
                    }
                }
        ];

        TableManaged.init($(".datatable"), actionUrl, aoColumns);
    });
</script>)
